.form__submit_location_popup {
  width: 100%;
  font: 400 18px/22px 'Inter', 'Arial', sans-serif;
}

@media screen and (max-width: 580px) {
  .form__submit_location_popup {
    font: 400 14px/17px 'Inter', 'Arial', sans-serif;
  }
}