.entry-screen__heading {
  margin: 0 0 20px;
  padding: 0;
  color: #fff;
  font: 900 24px/29.05px 'Inter', 'Arial', sans-serif;
  text-align: center;
}

@media screen and (max-width: 580px) {
  .entry-screen__heading {
    width: 260px;
    margin: 0 0 10px;
    font: 900 20px/24.2px 'Inter', 'Arial', sans-serif;
  }
}