.menu__link {
  margin: 0;
  padding: 0;
  color: #a9a9a9;
  font: 400 18px/22px 'Inter', 'Arial', sans-serif;
  text-decoration: none;
  transition: opacity .15s ease;
}

@media screen and (max-width: 580px) {
  .menu__link {
    padding: 5px 0 4px;
    font: 400 14px/17px 'Inter', 'Arial', sans-serif;
  }
}

.menu__link:hover {
  cursor: pointer;
  opacity: .8;
}