.popup_role_avatar-update {
  display: grid;
  grid-template-columns: 1fr 40px 430px 40px 1fr;
  grid-template-rows: calc(((100% - 312px) / 2) - 20px) 40px 272px;
  grid-template-areas: '. . . . .'
                       '. . . button-close .'
                       '. . popup . .';
  background-color: rgba(0, 0, 0, .5);
}

@media screen and (max-width: 580px) {
  .popup_role_avatar-update {
    grid-template-columns: 1fr 282px 1fr;
    grid-template-rows: calc(((100% - 300px) / 2) - 18px) 36px 264px;
    grid-template-areas: '. . .'
                         '. button-close .'
                         '. popup .';
  }
}